@import "~bootstrap/scss/bootstrap"

$jet: #343A40

body
    padding-top: 50px
    min-height: 100vh
    position: relative
    padding-bottom: 110px
.icon
    height: 150px
    width: auto
    margin-top: 25px
.header
    height: 70px
    &--icon
        height: 50px
        border-radius: .5em
    &--profileimage
        height: 50px
        border-radius: .5em
    &--rightlink
        @include media-breakpoint-only(lg)
            padding-top: 20px
.signupform
    &--wrapper
        width: 80%
        display: block
        text-align: center
        margin-top: 50px
        @include media-breakpoint-only(xs)
            width: 100%
    &--container
        dispaly: inline-block
        margin-left: auto
        margin-right: auto
        text-align: left
    &--submitbuttoncol
        text-align: center
.loginform
    &--wrapper
        display: block
        text-align: center
        margin-top: 50px
    &--form
        dispaly: inline-block
        margin-left: auto
        margin-right: auto
        text-align: left
        width: 60%
.home
    &--container
        width: 80%

        @include media-breakpoint-only(xs)
            width: 100%
            text-align: center
.posttofeed
    &--post
        width: auto
        font-size: .8em
        font-weight: bold
        font-style: italic
.post
.feed
    &--image
        height: 150px
        @include media-breakpoint-only(xs)
            height: auto
            width: 50%
    &--profileimage
        height: 50px

.footer
    &--container
        background-color: #17a2b8
        color: rgba(0,0,0,0.5)
        position: absolute
        bottom: 0
    &--icon
        height: 30px
        margin-right: 5px
        margin-bottom: 5px
        border-radius: .5em
    &--about
        margin-top: 5px
    &--aboutlink
        color: rgba(0,0,0,0.5)
