@import "~bootstrap/scss/bootstrap"

$jet: #343A40

.icon
    height: 150px
    width: auto
    margin-top: 25px
.header
    height: 70px
    &--icon
        height: 50px
        border-radius: .5em
.home
    &--container
        width: 80%
.posttofeed
    &--post
        width: auto
        font-size: .8em
        font-weight: bold
        font-style: italic
.post
